# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
dist-ssr/
unpackage/
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Tests / coverage
coverage/
.nyc_output/

# Env files
.env
.env.*
!.env.template
!.env.example

# OS / Editor
.DS_Store
.idea/
.hbuilderx/
*.local
*.suo
*.sw?

# Prisma generated client
apps/api/src/generated/prisma

# Misc
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock
